# Node.js
node_modules/
miniprogram_npm/

# Miniprogram
/package-lock.json
/project.private.config.json

# WebStorm
.idea/
.idea/*
.DS_Store

# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
